<h1>{{ article.article_title_text }}</h1>
<ul>
    <li>{{ article.article_content }}</li>
    <li>{{ article.likes }}</li>
</ul>

<h1>{{ article.article_title_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blog:like' article.id %}" method="post">
{% csrf_token %}
<input type="radio" name="article" id="article{{ article.id }}" value="{{ article.id }}" />
<label for="article{{ article.id }}">{{ article.article_content }}</label><br />
<input type="submit" value="Like" />
</form>